<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.softdreams.share_pdf.sds_share_pdf">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sds_share_pdf_paths" />
        </provider>
    </application>
</manifest>